/* making the background of page pretty */
body{
    background-color: blueviolet;
}

/* aligning the text of the button the be in the center */
.button-body{
    text-align: center;
}

/* customizing the cat button to match the aesthetic of the page */
.cat-button{
    background-color: aqua;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-family: monospace;
    width: 30%;
    height: 30%;
}

/* customizing the favorite button to match the aesthetic of the page */
.fav-button{
    background-color: aqua;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-family: monospace;
    width: 30%;
    height: 30%;
}

/* adding styling for when hoving over the fav button */
.fav-button:hover{
    background-color: greenyellow;
}

/* adding styling for when hoving over the cat button */
.cat-button:hover{
    background-color: greenyellow;
}

/* restricting the size of the cat image so it does not fill the whole screen */
.cat-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    overflow: hidden;
    text-align: center;
}

/* making sure the cat image maintains proper aspect ratio */
.cat-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* making sure that the bodies are next to each other */
.main-container{
    display: flex;
    justify-content: space-between;
}

/* making the left body larger than the right */
.left-body{
    width: 70%;
    text-align: center;
}

/* making the right body smaller than the left */
.right-body{
    width: 30%;
}

/* style changes to the favorites heading */
.favtitle{
    margin-top: 50px;
    font-family: monospace;
    font-size: 30px;
}

/* making sure the fav fit next to each other */
.favorites-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

/* making sure the fav image maintains proper aspect ratio */
.favorites-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}